body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #01ff95;
}

header {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(238, 255, 0);
    box-shadow: 0 0 50px rgb(0, 4, 255);
    border-radius: 30px;
}


section {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

video {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 30px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: transparent;
    color: #ff0000;
}
img{
  border-radius: 30px;
}
     
/*h1{ 
     font-size: 5em; 
     font-family: serif; 
     color:#ff0a0a; 
     text-align: center; 
     animation: animate 1.5s linear infinite; 
   }  
    
   @keyframes animate{ 
     0%{ 
       opacity: 0; 
     } 
     50%{ 
       opacity: 0.7; 
     } 
     100%{ 
       opacity: 0; 
     } 
   } */
   #shadowBox {
    background-color: transparent;
  }
  
  .rainbow {
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: monospace;
    letter-spacing: 0px;
    animation: colorRotate 5s linear 0s infinite;
  }
  
  @keyframes colorRotate {
    from {
      color: #e5ff00;
    }
    10% {
      color: #ff00ea;
    }
    50% {
      color: #ff0000;
    }
    75% {
      color: #2600ff;
    }
    100% {
      color: #bcf7f2;
    }
  }
